Repository sidebase/nuxt-auth, pull requests merged in 2024-08, with the labels that each got.

#809 fix(#808): only add error to response when it is set
  src/runtime/server/services/authjs/nuxtAuthHandler.ts
Labels: bug, provider-authjs

#837 feat(#836)!: unification and flexibility with `AUTH_ORIGIN`
  docs/guide/advanced/deployment/self-hosted.md
  docs/guide/application-side/configuration.md
  docs/resources/error-reference.md
  package.json
  pnpm-lock.yaml
  src/module.ts
  src/runtime/server/services/utils.ts
  src/runtime/types.ts
Labels: enhancement

#731 feat: Add refresh token to signOut request body
  src/runtime/composables/refresh/useAuth.ts
Labels: enhancement, provider-refresh

#847 feat: Add httpOnly cookie attribute support
  docs/guide/local/quick-start.md
  src/module.ts
  src/runtime/composables/local/useAuthState.ts
  src/runtime/composables/refresh/useAuthState.ts
  src/runtime/types.ts
Labels: provider-local, provider-refresh

#858 fix(#834): Do not refresh on window focus for unprotected pages
  src/runtime/utils/refreshHandler.ts
Labels: bug

#849 feat(#673, #523, #848): back-port authjs migration
  playground-authjs/app.vue
  playground-local/package.json
  playground-refresh/package.json
  pnpm-lock.yaml
  src/runtime/server/services/authjs/nuxtAuthHandler.ts
  src/runtime/server/services/utils.ts
  src/runtime/types.ts
  src/runtime/utils/checkSessionResult.ts
Labels: enhancement

#822 feat(#821): Unify `local` and `refresh` providers into one
  .github/workflows/ci.yaml
  playground-refresh/.gitignore
  playground-refresh/app.vue
  playground-refresh/config/AuthRefreshHandler.ts
  playground-refresh/nuxt.config.ts
  playground-refresh/package.json
  playground-refresh/pages/always-unprotected.vue
  playground-refresh/pages/guest.vue
  playground-refresh/pages/index.vue
  playground-refresh/pages/protected/globally.vue
  playground-refresh/pages/protected/locally.vue
  playground-refresh/pages/signout.vue
  playground-refresh/pages/with-caching.vue
  playground-refresh/playwright.config.ts
  playground-refresh/public/favicon.ico
  playground-refresh/server/api/auth/login.post.ts
  playground-refresh/server/api/auth/logout.post.ts
  playground-refresh/server/api/auth/refresh.post.ts
  playground-refresh/server/api/auth/user.get.ts
  playground-refresh/tests/refresh.spec.ts
  playground-refresh/tsconfig.json
  playground-refresh/vitest.config.ts
  src/module.ts
  src/runtime/composables/local/useAuth.ts
  src/runtime/composables/local/useAuthState.ts
  src/runtime/composables/refresh/useAuth.ts
  src/runtime/composables/refresh/useAuthState.ts
  src/runtime/helpers.ts
  src/runtime/middleware/auth.ts
  src/runtime/plugins/refresh-token.server.ts
  src/runtime/types.ts
  src/runtime/utils/local.ts
  src/runtime/utils/refreshHandler.ts
  tsconfig.json
Labels: provider-local, provider-refresh, breaking-change

#876 chore: prepare lint script for no-unused-vars
  package.json
Labels: chore
