Repository sidebase/nuxt-auth, pull requests merged in 2024-12, with the labels that each got.

#913 feat(#797, #878): set `baseURL` via environment variables and improve internal url detection
  .github/workflows/ci.yaml
  .github/workflows/deploy-docs.yml
  .github/workflows/pkg.pr.new.yml
  package.json
  playground-authjs/nuxt.config.ts
  pnpm-lock.yaml
  src/module.ts
  src/runtime/composables/authjs/useAuth.ts
  src/runtime/composables/authjs/utils/navigateToAuthPage.ts
  src/runtime/composables/common/getRequestURL.ts
  src/runtime/composables/commonAuthState.ts
  src/runtime/composables/local/useAuth.ts
  src/runtime/composables/local/useAuthState.ts
  src/runtime/composables/local/utils/token.ts
  src/runtime/helpers.ts
  src/runtime/middleware/auth.ts
  src/runtime/plugin.ts
  src/runtime/server/services/authjs/nuxtAuthHandler.ts
  src/runtime/server/services/utils.ts
  src/runtime/types.ts
  src/runtime/utils/callWithNuxt.ts
  src/runtime/utils/extractFromRuntimeConfig.ts
  src/runtime/utils/fetch.ts
  src/runtime/utils/url.ts
  tests/authjs.url.spec.ts
  tests/local.url.spec.ts
  vitest.config.ts
Labels: provider-authjs, provider-local, breaking-change

#957 chore(#892): rename middleware to avoid conflicts
  docs/guide/application-side/protecting-pages.md
  src/module.ts
  src/runtime/middleware/sidebase-auth.ts
  src/runtime/plugin.ts
Labels: enhancement, breaking-change

#955 docs: update installation.md
  docs/guide/getting-started/installation.md
Labels: documentation

#702 feat: ✨ add flag to disable getSession after signIn on local / refresh provider
  docs/guide/application-side/session-access.md
  src/runtime/composables/local/useAuth.ts
  src/runtime/types.ts
Labels: enhancement, provider-local, provider-refresh
